<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/landing.css">

<div class="flex-container">
    <div class="container">
        <h1>PEARLY GATES</h1>
        <p class="lead">Enter your email to join <strong><%= count %></strong> others on our waitlist into heaven.</p>
        <p class="lead">He'll be with you at his earliest convenience. </p></p>
        <form method="POST" action='/register'>
            <input type="text" name="email" class="form" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>